
extend ../layout

block content
    h1 Edit profile 
    form(action="/profile/"+user._id , method="post")
        .form-group
            label(for="name") Name
            input(type="text", name="name", class="form-control" value=user.name)
        .form-group
            label(for="email") Email
            input(type="text", name="email", class="form-control" value=user.email)
        .form-group
            label(for="password") password 
            input(type="text", name="password", class="form-control" value=user.password)
        input(type="submit", class="btn btn-info")
        